@media (max-width: 350px){
    .card {
        width: 85%;
        height: 350px;
        margin: 1rem;
        
    }
}

@media (max-width: 1260px){
    
    .menu_left {
        width: 25%;
    }
    
    .menu_middle {
        width: 38%;
    }
    
    .menu_button_left {
        width: 30%;
    }
    
    .menu_button_right {
        width: 30%;
    }
    
    .menu_right {
        width: 31%;
    }
}

@media (max-width: 800px){
    .nav_trello {
        width: 30%;
    }
    
    .nav_profile {
        width:35%;
    }
  
}

@media (min-width: 1400px){
    main {
        width: 82%;
        margin-left: auto;
        margin-right: auto;
    }
    .nav_profile img {
        margin-left: 7em;
    }
    
    .nav_profile p {
        width: 35%;
        float: left;
    }
}

@media (min-width: 1700px){
    main {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .nav_profile img {
        margin-left: 10em;
    }
}













